.main-body{
 background-color: #009cff;
}

.login-form,
.login-form h1,
.login-form span,
.login-form input,
.login-form label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.login-form {
    position:absolute;
     width:200px;
     height:200px;
     z-index:15;
	 
	 /*centers login form*/
     top:50%;
     left:50%;
     margin:-100px 0 0 -150px;
	 
	 
    cursor: default;

    background-color: #009cff;
 
}

.login-form input:before {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid red; 
}

.login-form h1 {
	
    font-family: Raavi;
	
    font-size: 28px;
	
   /* font-weight: bold;
	*/
    color: #ffffff;
	text-align:left center;
    
    margin:-100px 0 0 0px;
	
	margin-bottom:-40px;
	
	
}

.login-form  h1:before {
	font-size: 80px;
    background-image: url('../images/login.png');
	background-size: 42px 66px;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 22px;
    content: "\00a0";
}


#error_msg {
	white-space: nowrap;
    position: relative;
    top: 50px;
    left: -90px;
    font-family: Raavi;	
    font-size: 24px;
    color: #ffffff;
}


.login-form input[type=text],
.login-form input[type=password],
.login-form input[type=submit] {
	
    line-height: 14px;
	
    margin: 5px 0;
	margin-bottom:1px;
	
    padding: 6px 35px;
	
    border: 0;
	
    outline: none;
	width:200;
 
    font-family: Raavi;
    font-size: 24px;
   /* font-weight: bold;*/
    text-shadow: 0px 1px 1px rgba(255,255,255, .2);
	
 
 /*
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
 
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
	*/
}

.login-form input[type=text],
.login-form input[type=password],
.js .login-form span {
    color: #686868;
    width: 200px;
	height: 40px;
	background-image: url(../images/username.png) no-repeat;
 
 /*
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
 
    background: #989898;
    background: -moz-linear-gradient(top,  #ffffff 0%, #989898 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#989898));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#989898 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#989898 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#989898 100%);
    background: linear-gradient(top,  #ffffff 0%,#989898 100%);
	*/
}

.login-form input[type=text]:hover,
.login-form input[type=password]:hover {
   /* -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);*/
}

.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
   /* background: #e1e1e1;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e1e1e1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
    background: linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);*/
}



.login-form input[type=submit] {
    float: right;
    cursor: pointer;
 
    color: #ffffff;
	height: 40px;
 
   /* -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);*/
}

.login-form input[type=submit]:hover {
  /*  -webkit-box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
    -moz-box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
    box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);*/
}
 
.login-form input[type=submit]:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.login-form input[type=submit],
.js .login-form span.checked:before {
   background: #51bbff;
}

.js .login-form input[type=checkbox] {
    position: fixed;
    left: -9999px;
}

.login-form span {
    position: relative;
   /* margin-top: 15px;*/
    float: left;
}

.js .login-form span {
    width: 16px;
    height: 16px;
    cursor: pointer;
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.js .login-form span.checked:before {
    content: '';
    position: absolute;
	
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
 
    -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
}

.login-form label {
    position: absolute;
    top: 1px;
    left: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #e4e4e4;
}




.pictureInput {
                text-indent: 20px;
            }
            .input-wrapper {
                position:relative;
            }
            .img-wrapper {
                position:absolute;
                top:5px;
                left:0px;
            }
			
			
.ajax-spinner-bars {
	display: none;
	
	 z-index:16;
	
  position:absolute;
	
  width:35px;
	
  height:35px;
	
   left:47%;
	
	
  top:52.7%;
	

}


.ajax-spinner-bars > div {
	
	
	
	position: absolute;
	
	width: 3px;
	
	height: 9px;
	
	background-color: #ffffff;
	
	opacity: 0.05;
	
  animation: fadeit 0.8s linear infinite;
	

}
.ajax-spinner-bars > .bar-1 {
  transform: rotate(0deg) translate(0, -12px);
  animation-delay:0.05s;
}
.ajax-spinner-bars > .bar-2 {
  transform: rotate(22.5deg) translate(0, -12px);
  animation-delay:0.1s;
}
.ajax-spinner-bars > .bar-3 {
  transform: rotate(45deg) translate(0, -12px);
  animation-delay:0.15s;
}
.ajax-spinner-bars > .bar-4 {
  transform: rotate(67.5deg) translate(0, -12px);
  animation-delay:0.2s;
}
.ajax-spinner-bars > .bar-5 {
  transform: rotate(90deg) translate(0, -12px);
  animation-delay:0.25s;
}
.ajax-spinner-bars > .bar-6 {
  transform: rotate(112.5deg) translate(0, -12px);
  animation-delay:0.3s;
}
.ajax-spinner-bars > .bar-7 {
  transform: rotate(135deg) translate(0, -12px);
  animation-delay:0.35s;
}
.ajax-spinner-bars > .bar-8 {
  transform: rotate(157.5deg) translate(0, -12px);
  animation-delay:0.4s;
}
.ajax-spinner-bars > .bar-9 {
  transform: rotate(180deg) translate(0, -12px);
  animation-delay:0.45s;
}
.ajax-spinner-bars > .bar-10 {
  transform: rotate(202.5deg) translate(0, -12px);
  animation-delay:0.5s;
}
.ajax-spinner-bars > .bar-11 {
  transform: rotate(225deg) translate(0, -12px);
  animation-delay:0.55s;
}
.ajax-spinner-bars > .bar-12 {
  transform: rotate(247.5deg) translate(0, -12px);
  animation-delay:0.6s;
}
.ajax-spinner-bars> .bar-13 {
  transform: rotate(270deg) translate(0, -12px);
  animation-delay:0.65s;
}
.ajax-spinner-bars > .bar-14 {
  transform: rotate(292.5deg) translate(0, -12px);
  animation-delay:0.7s;
}
.ajax-spinner-bars > .bar-15 {
  transform: rotate(315deg) translate(0, -12px);
  animation-delay:0.75s;
}
.ajax-spinner-bars> .bar-16 {
  transform: rotate(337.5deg) translate(0, -12px);
  animation-delay:0.8s;
}
@keyframes fadeit{
	0%{ opacity:1; }
	100%{ opacity:0;}
	
	.error {
  /* supply height to ensure consistent positioning for every browser */
  height:15px;
  background-color:#FFFE36;
  border:1px solid #E1E16D;
  font-size:11px;
  color:#000;
  padding:3px 10px;
  margin-left:-2px;
 

  /* CSS3 spicing for mozilla and webkit */
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-topleft:0;
  -webkit-border-bottom-left-radius:0;
  -webkit-border-top-left-radius:0;
 
  -moz-box-shadow:0 0 6px #ddd;
  -webkit-box-shadow:0 0 6px #ddd;
}

@charset "IBM437";
@keyframes caret {
  50% {
    opacity: 0.1;
    transform: scaleY(0.8); } }

@-webkit-keyframes caret {
  50% {
    opacity: 0.1;
    -webkit-transform: scaleY(0.8); } }

.fancyInput {
  display: inline-block;
  letter-spacing: -1px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  width: auto;
  font-family: "Fjalla One", sans-serif;
  position: relative;
  /* only Caret which is */
  /* lettes */
  /*.fancyInput > div span:last-of-type ~ br{ display:block; white-space:pre; }*/
  /*.fancyInput br:last-of-type + .caret{ position:static; display:inline-block; }*/
  /* text effects */ }
  .fancyInput ::-webkit-input-placeholder {
    color: transparent; }
  .fancyInput :-moz-placeholder {
    color: transparent; }
  .fancyInput ::-moz-placeholder {
    color: transparent; }
  .fancyInput :-ms-input-placeholder {
    color: transparent; }
  .fancyInput.textarea {
    white-space: normal;
    overflow: auto; }
  .fancyInput input, .fancyInput textarea {
    color: transparent;
    position: absolute;
    z-index: 2;
    width: 100%;
    border: 0;
    outline: 0;
    top: 0px;
    left: 0;
    background: none;
    padding: inherit;
    padding-bottom: 0;
    font-family: "Fjalla One", sans-serif;
    font-size: inherit;
    letter-spacing: -1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .fancyInput input {
    top: 1px;
    left: -1px;
    padding-right: 0; }
  .fancyInput textarea {
    word-break: break-all;
    overflow: hidden;
    height: 100%; }
  .fancyInput > div {
    display: inline-block;
    position: relative; }
    .fancyInput > div:before {
      opacity: 0;
      left: -20px;
      content: attr(data-placeholder);
      position: absolute;
      transition: 0.3s ease-out; }
    .fancyInput > div.empty:before {
      opacity: 0.2;
      left: 0; }
  .fancyInput input:focus ~ div.empty:before {
    opacity: .1; }
  .fancyInput.textarea > div {
    width: 99.9%%; }
  .fancyInput *:focus ~ .caret,
  .fancyInput *:focus ~ div .caret {
    opacity: .8;
    box-shadow: 0 0 8px #FFF;
    -webkit-animation: 0.4s 40ms caret infinite;
    animation: 0.4s 40ms caret infinite; }
  .fancyInput .caret {
    font-weight: normal;
    opacity: 0;
    display: inline-block;
    width: 3px;
    margin-left: -3px;
    background: #FFF;
    border-radius: 4px;
    -moz-user-select: none; }
  .fancyInput span:not(.deleted) ~ .caret {
    position: absolute;
    margin: 0; }
  .fancyInput > div span {
    -webkit-transition: 100ms cubic-bezier(0, 0.6, 0.55, 1.4);
    transition: 100ms cubic-bezier(0, 0.6, 0.55, 1.4);
    display: inline-block;
    position: relative; }
  .fancyInput > input[type=password] + div span:empty::after {
    content: 'â—';
    display: inline; }
  .fancyInput > div .deleted {
    opacity: 0;
    -webkit-transition: 140ms;
    transition: 140ms;
    -webkit-transform: translateX(12px);
    transform: translateX(12px); }
  .fancyInput > div span.state1 {
    -webkit-transform: translateY(-25px) rotateX(90deg);
    transform: translateY(-25px) rotateX(90deg); }
  .fancyInput > div span.state2 {
    -webkit-transform: translateY(25px) rotateX(90deg);
    transform: translateY(25px) rotateX(90deg); }

/* DEMO text effects */
.effect2 .fancyInput > div span.state1, .effect2 .fancyInput > div span.state2 {
  -webkit-transform: translateX(10px) scale(1.8);
  transform: translateX(10px) scale(1.8); }

.effect3 .fancyInput > div span {
  -webkit-transition: 200ms cubic-bezier(0, 0.6, 0.55, 1.4);
  transition: 200ms cubic-bezier(0, 0.6, 0.55, 1.4); }
  .effect3 .fancyInput > div span.state1, .effect3 .fancyInput > div span.state2 {
    opacity: 0;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-filter: blur(2px); }

.effect4 .fancyInput > div span {
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms; }
  .effect4 .fancyInput > div span.state1, .effect4 .fancyInput > div span.state2 {
    opacity: 0;
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px); }

.effect5 .fancyInput > div span {
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms; }
  .effect5 .fancyInput > div span.state1, .effect5 .fancyInput > div span.state2 {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0; }