html{
	width: 100%;
	height: 100%;
	overflow: hidden;
	
 }
 
body {
	width: 100%;
	height: 100%;
}
 
#onlineDot{
	position:absolute;
	margin-top:-9.5px;
	margin-left:45px;
	width: 10px;
	height: 10px;
	border-radius:5px;
	right:20px;
}

.dotUnknown{
	background-color: YELLOW;
}

.dotOffline{
	background-color: RED;	
}

.dotOnline{
	background-color: Lime;
}

.install{
	margin-left: auto;
    margin-right: auto;
    width: 25%;
   // background-color: #b0e0e6;
}

#installButton{
	margin-left:148px;
	border-radius:5px;
}

.install_table{
	margin-left: auto;
    margin-right: auto;
	color: white;
	font-family: Raavi;
	font-size: 18;
}

#installErrorOutput{
	color:white;
	font-family: Raavi;
	text-align: center;
}



.install_label{
	//background-color: #b0e0e6;
	width: 200px;
	color:white;
	font-family: Raavi;
	float: right;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#install_red{
	background-color: red;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#install_green{
	background-color: green;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.install_value{
	color:white;
	font-family: Raavi;
	text-align: right
}
 
 .gridster .version{
 	font-family: Raavi;
 	color: white;
	 margin-left:10px;
	 position:absolute;
	 top:-15px;
	margin-top: -10px;
	right: 50px;
 }

 .main-body .version{
 	 font-family: Raavi;
     color: white;
	 text-align: right;
	 position: relative;
	 margin-right:20px;
 }
 
.main_grid{
	background-color: #009cff;
}

.main_device{
	background-color: #51bbff;
}

.main-body{
	background-color: #009cff;
    font-family: Raavi;
    -webkit-font-smoothing: antialiased;
    font-size: x-small;
    color: #666666;
}

.main-content {
	max-width: 1050px;
	padding: 80px 20px;
}

header {
	height: 80px;
	padding: 22px 25px;
	background: #222222;
	width: 100%;
	text-align: center;
}

#addNewDeviceImageContainer{
	width:35px;
	height:35px;
	margin-left:28px;
	margin-top:28px;
	cursor:pointer;
}

#addNewDeviceImage{
	width: 100%;
	height: 100%;
}

#newDeviceForm{
	height:190px;
}

#newDeviceForm fieldset{
	height:150px;
}

/*
#newDeviceSubmit{
	position:relative;
	border-color:#009cff;
	border-radius: 5px;
	width:60px;
	height:35px;
	margin-left:90px;
}*/

#overlay {
	margin-top:-30px;
    background-image:url("../images/transparent2.png");
    color:#efefef;
    height:1100px;
	
}

/* container for external content. uses vertical scrollbar, if needed */
div.contentWrap {
    height:1100px;
    overflow-y:auto;
}

ul, ol {
    list-style: none;
}

h1 {
  margin-bottom: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color:white;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

p {
	margin-bottom: 20px;
	line-height: 1.6;
	opacity: 0.15;
}
 
a {
	color: #55acee;
}

a:hover {
	text-decoration: none;
}

/* get rid of those system borders being generated for A tags */
a:active {
    outline:none;
}

.device .gridmenu a.menu{
	padding-top:10px;	
}

a.menu {
	display: block;
	width: 30px;
	margin: 0 auto;
	z-index:100;
 }

a.menu .bar {
	background-color: white;
	display: block;
	height: 3px;
	width: 100%;
	margin: 6px 0;
 }

:focus {
    -moz-outline-style:none;
}

nav {
	
	cursor:default;
	position: fixed;
	top: 0;
	z-index: 100;
	-webkit-transition: all 0.4s 0.4s;
	-moz-transition: all 0.4s 0.4s;
	transition: all 0.4s 0.4s;
}

nav ul {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul > li {
	
	display: table;
	text-align: right;
	float: left;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

nav ul > li h4{

	display:inline;
	font-family: Raavi;
	color: white;
	position:absolute;
	right:90px;
	margin-top:-3px;
}

nav ul > li h5{
	font-family: Raavi;
	color: red;
	margin-top:1px;
	margin-bottom:1px;
	text-align: center;
}

nav ul > li input{
	display:inline;
	font-family: Raavi;
	border: none;
	width:20px;
	height:25px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position:fixed;
	right:60px;
	font-size:15px;
	text-align:center;
}

nav ul > li button{
	
	height:25px;
	display:inline;
	font-family: Raavi;
	font-size:20px;
	color: white;
	background: #51bbff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-style:none;
	position:fixed;
	right:5px;
}

nav ul > li:nth-child(1) {
	background-color: #009cff;
}

nav ul > li:nth-child(2) {
	 background-color: #19a6d4;
	 -webkit-transition-delay: 0.1s;
	 -moz-transition-delay: 0.1s;
	 transition-delay: 0.1s;
}

nav ul > li:nth-child(3) {
	background-color: #189cc7;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

nav ul > li:nth-child(4) {
	 background-color: #1691b9;
	 -webkit-transition-delay: 0.3s;
	 -moz-transition-delay: 0.3s;
	 transition-delay: 0.3s;
}

nav ul > li:nth-child(5) {
	background-color: #1486ab;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

nav ul > li > a {
	text-decoration: none;
	color: white;
	text-align:center;
	font-family: Raavi;
	text-transform: uppercase;
	display: table-cell;
	vertical-align: middle;
	font-size: 30px;
	letter-spacing: 0.05em;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	 transition: all 0.2s linear;
}

nav ul > li > a:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
}

nav.left, nav.right {
    width: 380px;
    height: 100%;
}

nav.left ul > li, nav.right ul > li {
	width: 99%;
	height: 20.2%;
}

nav.left {
    left: -280px;
}

nav.left ul > li {
	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	 transform: translate(-100%, 0);
}

nav.right {
    left: auto;
    right: -280px;
}

nav.right ul > li {
	-webkit-transform: translate(100%, 0);
	-moz-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	transform: translate(100%, 0);
}

nav.top {
    left: 0;
    top: -200px;
    width: 100%;
    height: 200px;
}

nav.top ul {
	width: 101%;
}

nav.top ul > li {
	width: 20%;
	height: 100%;
	-webkit-transform: translate(0, -100%);
	-moz-transform: translate(0, -100%);
	-ms-transform: translate(0, -100%);
	-o-transform: translate(0, -100%);
	transform: translate(0, -100%);
}

body.menu-open .grid {
	cursor: url("../images/close.png") 20 20, auto;
}

body.menu-open .grid li{
	cursor: url("../images/close.png") 20 20, auto;
}

body.menu-open .overlay {
    display: block;
}

nav.open {
	 -webkit-transition-delay: 0;
	 -moz-transition-delay: 0;
	 transition-delay: 0;
}

nav.open ul > li {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

 nav.open.left {	
    left: 0;
}

nav.open.right {
    right: 0;
}

nav.open.top {
	top: 0;
}

.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: transparent;
	z-index: 10;
	display: none;
}

#linemin, linehour, lineday, polormin, polorday, polorhour{
	z-index: 100;
}

/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
    /*background:#333 url(/media/img/gradient/h30.png) 0 0;*/
    width: 620px;
    height: 520px;
    margin: 5px auto;
}



/* accordion header */
#accordion h2 {
    /*background:#51bbff url(/media/img/gradient/h30.png);*/
    text-align: center;
    line-height: 12px;
    margin:0;
    padding:5px 15px;
    font-size:14px;
    font-weight:bold;
    border:1px solid #51bbff;
    border-bottom:1px solid #51bbff;
    cursor:pointer;
	color:white;
}

/* currently active header */
#accordion h2.current {
    cursor:default;
    background-color:#51bbff;
}

/* accordion pane */
#accordion .pane {
	border:1px solid #51bbff;
    border-width:0 2px;
    display:none;
    height:425px;
    padding:10px;
    color:#fff;
    font-size:12px;
}

/* a title inside pane */
#accordion .pane h3 {
	font-weight:normal;
	margin:0;
	font-size:16px;
	color:#ff;
}

/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion2 {
    /*background:#333 url(/media/img/gradient/h30.png) 0 0;*/
    width: 410px;
    height: 315px;
    margin: 5px auto;
}

/* accordion header */
#accordion2 h2 {
    /*background:#51bbff url(/media/img/gradient/h30.png);*/
    line-height: 10px;
    margin:0;
    padding:5px 15px;
    font-size:12px;
    font-weight:bold;
    border:1px solid #51bbff;
    border-bottom:1px solid #51bbff;
    cursor:pointer;
	color:white;
}

/* currently active header */
#accordion2 h2.current {
    cursor:default;
    background-color:#51bbff;
}

/* accordion pane */
#accordion2 .pane {
	border:1px solid #51bbff;
    border-width:0 2px;
    display:none;
    height:215px;
    padding:10px;
    color:#fff;
    font-size:12px;
}

/* a title inside pane */
#accordion2 .pane h3 {
	font-weight:normal;
	margin:0;
	font-size:16px;
	color:#ff;
}

.prev{
    position:absolute;
    margin-top:-290px;
    margin-left:175px;
}

.next{
     position:absolute;
    margin-top:-0px;
    margin-left:175px;
}

.minus{
	cursor: pointer;	
}

.plus{
	cursor: pointer;
	position:absolute;
	margin-top:-290px;
    margin-left:350px;
}

/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion3 {
    /*background:#333 url(/media/img/gradient/h30.png) 0 0;*/
    width: 420px;
    height: 315px;
	  padding-top:0px;
}

/* accordion header */
#accordion3 h2 {
    line-height: 10px;
    margin:0;
    padding:5px 15px;
    font-size:12px;
    font-weight:bold;
	  color:white;
    cursor:pointer;
}

#accordion3 h2 img{
	display:none;
	position: absolute;
	padding-left:332px;
}

#accordion3 h2.current img{
	display:initial;
	position: absolute;
	padding-left:332px;
}

/* currently active header */
#accordion3 h2.current {
    cursor:default;
    background-color:#51bbff;
}

/* accordion pane */
#accordion3 .pane {
    display:none;
    height:110px;
	line-height: 100%;
	width:370px;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    padding-left:40px;
}

#noteInputText{
	background:#51bbff;
	line-height: 100%;
	color:#fff;
	width:360px;
	height:100px;
	font-family: Raavi;
    font-size:14px;
    font-weight:bold;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border-color:#51bbff;
}

#noteSubmitButton {
	position:absolute;
	background-color:#51bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border-right:0px;
	border-bottom:0px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Raavi;
	font-size:14px;
	padding:0px 0px;
	margin-left: 315px;
	margin-top: 72px;
	text-decoration:none;
}
#noteSubmitButton:hover {
	background-color:#009cff;
}
#noteSubmitButton:active {
		
}


/* a title inside pane */
#accordion3 .pane h3 {
	font-weight:normal;
	margin:0;
	font-size:16px;
	color:#ff;
}

/* root element for scrollable */
.scrollable {
	/* required settings */
	position:relative;
	overflow:hidden;
	/*vertical scrollables have typically larger height than width but
  	not now*/
  	height: 270px;
	margin-top:20px;
	padding-left:2px;	
  	width: 415px;
}

/* root element for scrollable items */
.scrollable .items {
	position:absolute;
	background-color:#51bbff;
}

.item{
    padding-top:5px;
    margin-top:5px;
	width:500px;
    background-color:#51bbff;
    height: 10px;
}

#notenum{
    display:inline;
    position:absolute;
}

#notename{
	padding-left:25px;
    display:inline;
    position:absolute;
}

#notedate{
	position:absolute;
	padding-left:125px;
    display:inline;
}

#notetime{
    position:absolute;
	padding-left:250px;
    display:inline;
}

#notebuttons{
    position:absolute;
	padding-left:280px;
    display:inline;
}

/* the overlayed element */
.apple_overlay {
	/* initially overlay is hidden */
    display:none;
	/* growing background image */
	
    background-image:url("../images/white.png");
	/*
      width after the growing animation finishes
      height is automatically calculated
      */
    width:1100px;
	/* some padding to layout nested elements nicely  */
    padding:35px;
	/* a little styling */
    font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	 background-image:url("../images/old_close.png");
	 position:absolute;
	margin-top:25px;
	 right:5px;
	 top:5px;
	 cursor:pointer;
	 height:35px;
	 width:35px;
}

<!--[if lt IE 7]>
<style>
	div.apple_overlay {
		background-image:url("../images/transparent2.png");
		color:#fff;
		}
		
  	/* default close button positioned on upper right corner */
  	div.apple_overlay div.close {
		background-image:url("../images/old_close.png");
		position:absolute;
		right:5px;
		top:5px;
		cursor:pointer;
		height:35px;
		width:35px;
	}
</style>
<![endif]-->

/* black version of the overlay. simply uses a different background image */
div.apple_overlay.black {
	background-image:url("../images/transparent.png");
	color:#fff;
}

.login-form,
.login-form h1,
.login-form span,
.login-form input,
.login-form label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.login-form {
    position:absolute;
     width:200px;
     height:200px;
     z-index:15;
	 /*centers login form*/
     top:50%;
     left:50%;
     margin:-100px 0 0 -150px;
     cursor: default;
    background-color: #009cff;
}

.login-form input:before {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid red; 
}

.login-form h1 {
    font-family: Raavi;
    font-size: 28px;
    color: #ffffff;
	text-align:left center;
    margin:-100px 0 0 0px;
	margin-bottom:-40px;
}

.login-form  h1:before {
	font-size: 80px;
    background-image: url('../images/login.png');
	background-size: 42px 66px;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 22px;
    content: "\00a0";
}

#error_msg {
	white-space: nowrap;
    position: relative;
    top: 50px;
    left: -90px;
    font-family: Raavi;	
    font-size: 24px;
    color: #ffffff;
}

.login-form input[type=text],
.login-form input[type=password],
.login-form input[type=submit] {
    line-height: 14px;
    margin: 5px 0;
	margin-bottom:1px;
    padding: 6px 35px;
    border: 0;
    outline: none;
	width:200;
    font-family: Raavi;
    font-size: 24px;
    text-shadow: 0px 1px 1px rgba(255,255,255, .2);
}

.login-form input[type=text],
.login-form input[type=password],
.js .login-form span {
    color: #686868;
    width: 200px;
	height: 40px;
	background-image: url("../images/username.png") no-repeat;
}

.login-form input[type=text]:hover,
.login-form input[type=password]:hover {
   /* -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6), 0px 0px 5px rgba(255,255,255, .5);*/
}

.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
   /* background: #e1e1e1;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e1e1e1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);
    background: linear-gradient(top,  #ffffff 0%,#e1e1e1 100%);*/
}

.login-form input[type=submit] {
    float: right;
    cursor: pointer;
    color: #ffffff;
	height: 40px;
}

.login-form input[type=submit]:hover {
  /*  -webkit-box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
    -moz-box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
    box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);*/
}
 
.login-form input[type=submit]:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.login-form input[type=submit],
.js .login-form span.checked:before {
   background: #51bbff;
}

.js .login-form input[type=checkbox] {
    position: fixed;
    left: -9999px;
}

.login-form span {
    position: relative;
    float: left;
}

.js .login-form span {
    width: 16px;
    height: 16px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.js .login-form span.checked:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .45), inset 0px 1px 1px 0px rgba(0,0,0, .3);
}

.login-form label {
    position: absolute;
    top: 1px;
    left: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #e4e4e4;
}

.pictureInput {
	text-indent: 20px;
}

.input-wrapper {
	position:relative;
}

.img-wrapper {
	position:absolute;
	top:5px;
	left:0px;
}		
			
.ajax-spinner-bars {
	display: none;
	z-index:16;
	position:absolute;
	width:35px;
	height:35px;
	left:47%;
	top:52.7%;
}

.ajax-spinner-bars > div {
	position: absolute;
	width: 3px;
	height: 9px;
	background-color: #ffffff;
	opacity: 0.05;
	animation: fadeit 0.8s linear infinite;
}

.ajax-spinner-bars > .bar-1 {
  transform: rotate(0deg) translate(0, -12px);
  animation-delay:0.05s;
}

.ajax-spinner-bars > .bar-2 {
  transform: rotate(22.5deg) translate(0, -12px);
  animation-delay:0.1s;
}

.ajax-spinner-bars > .bar-3 {
  transform: rotate(45deg) translate(0, -12px);
  animation-delay:0.15s;
}

.ajax-spinner-bars > .bar-4 {
  transform: rotate(67.5deg) translate(0, -12px);
  animation-delay:0.2s;
}

.ajax-spinner-bars > .bar-5 {
  transform: rotate(90deg) translate(0, -12px);
  animation-delay:0.25s;
}

.ajax-spinner-bars > .bar-6 {
  transform: rotate(112.5deg) translate(0, -12px);
  animation-delay:0.3s;
}

.ajax-spinner-bars > .bar-7 {
  transform: rotate(135deg) translate(0, -12px);
  animation-delay:0.35s;
}

.ajax-spinner-bars > .bar-8 {
  transform: rotate(157.5deg) translate(0, -12px);
  animation-delay:0.4s;
}

.ajax-spinner-bars > .bar-9 {
  transform: rotate(180deg) translate(0, -12px);
  animation-delay:0.45s;
}

.ajax-spinner-bars > .bar-10 {
  transform: rotate(202.5deg) translate(0, -12px);
  animation-delay:0.5s;
}

.ajax-spinner-bars > .bar-11 {
  transform: rotate(225deg) translate(0, -12px);
  animation-delay:0.55s;
}

.ajax-spinner-bars > .bar-12 {
  transform: rotate(247.5deg) translate(0, -12px);
  animation-delay:0.6s;
}

.ajax-spinner-bars> .bar-13 {
  transform: rotate(270deg) translate(0, -12px);
  animation-delay:0.65s;
}

.ajax-spinner-bars > .bar-14 {
  transform: rotate(292.5deg) translate(0, -12px);
  animation-delay:0.7s;
}

.ajax-spinner-bars > .bar-15 {
  transform: rotate(315deg) translate(0, -12px);
  animation-delay:0.75s;
}

.ajax-spinner-bars> .bar-16 {
  transform: rotate(337.5deg) translate(0, -12px);
  animation-delay:0.8s;
}

@keyframes fadeit{
	0%{ opacity:1; }
	100%{ opacity:0;}
}
	
.error {
  /* supply height to ensure consistent positioning for every browser */
  height:15px;
  background-color:#FFFE36;
  border:1px solid #E1E16D;
  font-size:11px;
  color:#000;
  padding:3px 10px;
  margin-left:-2px;

  /* CSS3 spicing for mozilla and webkit */
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-topleft:0;
  -webkit-border-bottom-left-radius:0;
  -webkit-border-top-left-radius:0;
  -moz-box-shadow:0 0 6px #ddd;
  -webkit-box-shadow:0 0 6px #ddd;
}

#volumeSection{
	position: relative;
}

#redslider{
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 280px;
    position: absolute;
    height: 13px;
    background-color: #8e8d8d;
    background: url('../images/bg-track.png') repeat top left;
  box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
                 0 1px 0 0px rgba(250, 250, 250, .5);
  left: 20px;
}

.redtooltip {
    position: absolute;
    display: block;
    top: -25px;
    width: 35px;
    height: 20px;
    color: #fff;
    text-align: center;
    font: 10pt Tahoma, Arial, sans-serif ;
    border-radius: 3px;
    border: 1px solid #333;
    border-color:white;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    background: linear-gradient(top, rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%);
}

.redvolume {
    display: inline-block;
    width: 25px;
    height: 25px;
    /*right: -5px;*/
    background: url('../images/volume.png') no-repeat 0 -50px;
    position: relative;
    margin-top: -5px;
}

#yellowslider{
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 280px;
    position: absolute;
    height: 13px;
    background-color: #8e8d8d;
    background: url('../images/bg-track.png') repeat top left;
  box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),
                 0 1px 0 0px rgba(250, 250, 250, .5);
  left: 20px;
}

.yellowtooltip {
    position: absolute;
    display: block;
    top: -25px;
    width: 35px;
    height: 20px;
    color: #fff;
    text-align: center;
    font: 10pt Tahoma, Arial, sans-serif ;
    border-radius: 3px;
    border: 1px solid #333;
    border-color:white;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-sizing: border-box;
    background: linear-gradient(top, rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%);
}

.yellowvolume {
    display: inline-block;
    width: 25px;
    height: 25px;
    /*right: -5px;*/
    background: url('../images/volume.png') no-repeat 0 -50px;
    position: relative;
    margin-top: -5px;
}


.ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    border: none !important;
    cursor: pointer;
    background: url('../images/handle.png') no-repeat 50% 50%;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    top: -7px;
    margin-left: -12px;
}

.ui-slider-range {
    background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}

@charset "IBM437";
@keyframes caret {
  50% {
    opacity: 0.1;
    transform: scaleY(0.8); } 
}

@-webkit-keyframes caret {
  50% {
    opacity: 0.1;
    -webkit-transform: scaleY(0.8); } 
}

#redMute {
	margin-top: 7px;
	margin-right: 5px;
	display: none;
}

#yellowMute {
	margin-top: 7px;
	margin-right: 5px;
	display: none;
}

/* Background of the menu. */
.config_list{
	border-style: solid;
	border-color: white !important;
	border-top: 0px;
	border-left: 0px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

}


/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #51bbff;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 3px;
    font-family: Raavi;
    line-height: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #19a6d4;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #009cff;
    float: left;
    margin-left: 5px;
}

button.accordion.active:after {
    	color: #51bbff;
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: #009cff;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
   display: block !important;
}

#newDeviceDialog {
	border-color: white;
	border-style: solid;
	border-width: 5px;
	border-right: none;
	border-left: none;
}

#removeButton{
	position: absolute;
	width:55px;
	height: 30px;
	background-color:inherit;
	right: 3px;
	top: 3px;
	border-style:solid;
	border-color:white;
	border-width:2px;
	border-radius:5px;
	font-family: Raavi;
	color: white;
	text-align: center;
	vertical-align: middle;
	font-size:small;
	
}

#remoteButton:hover{
	background-color:red;
}
